{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Panacea HRMS</title>

    <link rel="shortcut icon" href="{% static 'assets/assets/images/fav.jpg' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/plugins/testimonial/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/plugins/testimonial/css/owl.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/assets/css/style.css' %}" />
</head>

<body>

    {% include 'top-nav.html' %}

    {% block content %}

    {% endblock %}

    {% include 'bottom-nav.html' %}


</body>

<script src="{% static 'assets/assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/assets/plugins/slider/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'assets/assets/plugins/testimonial/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/assets/js/script.js' %}"></script>



</html>