<footer class="site-footer">

    <!-- Bootstrap -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">

                <!-- Widget -->
                <div class="widget">

                    <!-- Logo -->
                    <div class="site-logo">
                        <!-- Link -->
                        <a href="index.html">
                            <!-- Logo Image -->
                            <img src="images/footer-logo.png" alt="Logo">
                            
                        </a>
                    </div>
                    <!-- End logo -->

                    <!-- Clearfix -->
                    <div class="clearfix"></div>

                    <!-- Paragraph -->
                    <p>Lorem Ipsum is simply dummy text of the print
                        ing and typing indus try Lorem Ipsum has een the indus try's standard dummy text Loremsim
                        ply dummy text of the printing and typeseing industryLorem Ipsum isindustryLorem Ipsum is  ply dummy text of the printing and typeseing industryLorem Ipsum is simply.</p>
                        

                </div>
                <!-- End widget -->

            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">

                <!-- Widget -->
                <div class="widget">

                    <!-- H3 heading -->
                    <h3>The company</h3>

                    <!-- Links -->
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Case studies</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>

                </div>
                <!-- End widget -->

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3" style="display:none;">

                <!-- Widget -->
                <div class="widget">

                    <!-- H3 heading -->
                    <h3>Recent news</h3>

                    <!-- news -->
                    <ul class="widget-news">
                        <li>
                            <a href="#">
                                <figure><img src="images/news-1.png" alt="image"></figure>
                                <p>Latest Business Event</p>
                                <span>20th Jul, 2016</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure><img src="images/news-2.png" alt="image"></figure>
                                <p>New Office opening</p>
                                <span>20th Jul, 2016</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure><img src="images/news-3.png" alt="image"></figure>
                                <p>Get to gethore</p>
                                <span>20th Jul, 2016</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- End widget -->

            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-2">

                <!-- Widget -->
                <div class="widget">

                    <!-- H3 heading -->
                    <h3>Our services </h3>

                    <!-- Links -->
                    <ul>
                        <li><a href="#">Consultancy</a></li>
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">Advertising</a></li>
                        <li><a href="#">Business Planing</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Creative ideas</a></li>
                    </ul>

                </div>
                <!-- End widget -->

            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4">

                <!-- Widget -->
                <div class="widget">

                    <!-- H3 heading -->
                    <h3>Subscribe us</h3>
                    
                    <!-- Paragraph -->
                    <p>Lorem Ipsum is simply dummy text of the print
                        ing and typing indus try Lorem Ipsum has een the indus try's standard dummy text Loremsim
                        ply dummy text of the printing and.</p>
                    
                    <!-- Subscribe -->
                    <form method="post" action="#" class="site-subscribe">
                        <input type="email" placeholder="Enter your email" required="required" name="form_subscribe">
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>

                </div>
                <!-- End widget -->

            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr>
            </div>
            <div class="col-xs-12 col-sm-6">

                <!-- Copyright -->
                <div class="site-copyright">
                    <a target="_blank" href="https://templateshub.net">Templates Hub</a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6">

                <!-- Social Icons -->
                <div class="site-social-icons">
                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Bootstrap -->

</footer>