{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--   Tue, 07 Jan 2020 03:33:27 GMT -->

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Panacea HR System</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{% static 'assets/modules/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/summernote/summernote-bs4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">

    <!-- full calender -->
    <link rel="stylesheet" href="{% static 'assets/modules/fullcalendar/fullcalendar.min.css' %}">

    <!-- datatable Libraries -->
    <link rel="stylesheet" href="{% static 'assets/modules/datatables/datatables.min.css' %}">
    <link rel="stylesheet"
        href="{% static 'assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css' %}">
    <link href="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js">

    <!-- font-awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.min.css' %}">

</head>

<body class="layout-4">

    <div id="app">
        <div class="main-wrapper main-wrapper-1">

            {% include 'header.html' %}

            {% block content %}

            {% endblock %}

            {% include 'footer.html' %}

        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="{% static 'assets/bundles/lib.vendor.bundle.js' %}"></script>
    <script src="{% static 'js/CodiePie.js' %}"></script>

    <!-- JS Libraies -->
    <script src="{% static 'assets/modules/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'assets/modules/chart.min.js' %}"></script>
    <script src="{% static 'assets/modules/owlcarousel2/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/modules/summernote/summernote-bs4.js' %}"></script>
    <script src="{% static 'assets/modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>

    <!-- calender -->
    <script src="{% static 'assets/modules/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/page/modules-calendar.js' %}"></script>

    <!-- Page Specific JS File -->
    <script src="{% static 'js/page/index.js' %}"></script>

    <!-- datatable JS File -->
    <script src="{% static 'assets/modules/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'js/page/modules-datatables.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css"/>
  
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"></script>


    <!-- Template JS File -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

<!--   Tue, 07 Jan 2020 03:35:12 GMT -->

</html>