{% extends 'main.html' %}

{% block content %}

{% load static %}

<!-- Start app main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>General Settings</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="{% url 'home' %}">Dashboard</a></div>

                <div class="breadcrumb-item">Add Employee</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Add Employee</h2>
            <p class="section-lead">You can add employee from here</p>

            <div id="output-status"></div>
            <div class="row">

                <div class="col-md-10">
                    <form method="POST" enctype="multipart/form-data" id="setting-form">
                        {% csrf_token %}

                        <div class="card" id="settings-card">
                            <div class="card-header">
                                <h4>Add Employee</h4>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">General settings such as, site title, site description, address
                                    and so on.</p>
                                <div class="form-group row align-items-center">
                                    <label for="site-title" class="form-control-label col-sm-3 text-md-right">Full
                                        Name</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="text" name="fullname" class="form-control" id="site-title">
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title" class="form-control-label col-sm-3 text-md-right">Date Of
                                        Birth</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="date" name="dateofbirth" class="form-control" id="site-title">
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">Gender</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="text" name="gender" placeholder="select gender"
                                            class="form-control" list="tg-select" id="site-title">
                                        <datalist id="tg-select">
                                            <select>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="others">Others</option>
                                            </select>
                                        </datalist>
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">Department</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="text" name="department" placeholder="select department"
                                            list="tg-select-1" class="form-control" id="site-title">
                                        <datalist id="tg-select-1">
                                            <select>
                                                {% for department in departments %}
                                                <option value="{{department.name}}">{{department.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </datalist>
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">Position</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="text" name="position" class="form-control" id="site-title">
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">Email</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="email" name="email" class="form-control" id="site-title">
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title" class="form-control-label col-sm-3 text-md-right">ID
                                        Number</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="number" name="idnumber" class="form-control" id="site-title">
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title" class="form-control-label col-sm-3 text-md-right">Phone
                                        Number</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="number" name="telephone" class="form-control" id="site-title">
                                    </div>
                                </div>


                                <div class="form-group row align-items-center">
                                    <label class="form-control-label col-sm-3 text-md-right">ID Photo</label>
                                    <div class="col-sm-6 col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" name="idphoto" required>
                                            <div class="invalid-feedback">Please upload correct file</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label class="form-control-label col-sm-3 text-md-right">NSSF photo</label>
                                    <div class="col-sm-6 col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" name="nssfphoto" required>
                                            <div class="invalid-feedback">Please upload correct file</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label class="form-control-label col-sm-3 text-md-right">Nhif Photo</label>
                                    <div class="col-sm-6 col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" name="nhifphoto" required="">
                                            <div class="invalid-feedback">Please upload correct file</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer bg-whitesmoke text-md-right">
                                <button type="submit" class="btn btn-primary" id="save-btn">Save Changes</button>
                                <!-- <button class="btn btn-secondary" type="button">Reset</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>


{% endblock %}