{% extends 'main.html' %}

{% block content %}

{% load static %}

<!-- Start app main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>General Settings</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="{% url 'home' %}">Dashboard</a></div>

                <div class="breadcrumb-item">Add Employee</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Add Employee salary</h2>
            <p class="section-lead">You can add employee salary from here</p>

            <div id="output-status"></div>
            <div class="row">

                <div class="col-md-10">
                    <form method="POST" enctype="multipart/form-data" id="setting-form">
                        {% csrf_token %}

                        <div class="card" id="settings-card">
                            <div class="card-header">
                                <h4>Add Salary</h4>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">General settings add payrol
                                    and so on.</p>
                                <div class="form-group row align-items-center">
                                    <label for="site-title" class="form-control-label col-sm-3 text-md-right">Full
                                        Name</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="text" name="employee" placeholder="select employee"
                                            class="form-control" list="tg-select-addSalary" id="site-title">
                                        <datalist id="tg-select-addSalary">
                                            <select>
                                                {% for employee in employees %}
                                                <option value="{{employee.fullname}}">{{employee.fullname}}</option>
                                                {% endfor %}
                                            </select>
                                        </datalist>
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">Salary</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="number" name="salary" class="form-control" id="site-title">
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">Allowances</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="number" name="allowance" class="form-control" id="site-title">
                                    </div>
                                </div>

                                <!-- <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">NSSF</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="number" name="nssf" class="form-control" id="site-title">
                                    </div>
                                </div> -->

                                <!-- <div class="form-group row align-items-center">
                                    <label for="site-title"
                                        class="form-control-label col-sm-3 text-md-right">NHIF</label>
                                    <div class="col-sm-6 col-md-9">
                                        <input type="number" name="nhif" class="form-control" id="site-title">
                                    </div>
                                </div> -->

                            </div>
                            <div class="card-footer bg-whitesmoke text-md-right">
                                <button type="submit" class="btn btn-primary" id="save-btn">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>


{% endblock %}