{% extends 'main.html' %}

{% block content %}

{% load static %}

<!-- Start app main Content -->
<div class="main-content">
    <section class="section">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">

                    <div class="card-icon shadow-primary bg-primary">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Total Employee</h4>
                        </div>
                        <div class="card-body">
                            {{employees.count}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="{% url 'department' %}">
                    <div class="card card-statistic-2">

                        <div class="card-icon shadow-primary bg-primary">
                            <i class="fas fa-address-book"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Departments</h4>
                            </div>
                            <div class="card-body">
                                {{departments.count}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">

                    <div class="card-icon shadow-primary bg-primary">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Total Expenditure</h4>
                        </div>
                        <div class="card-body">

                            {{ expence }}

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-deck">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>employees</h4>
                        <div class="card-header-action">
                            <a href="{% url 'addEmployee' %}" class="btn btn-primary">Add Employee<i
                                    class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive table-invoice">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Names</th>
                                        <th>ID Number</th>
                                        <th>Phone Number</th>
                                        <th>Department</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Position</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for employee in employees %}
                                    <tr>
                                        <td class="font-weight-600">{{forloop.counter}}</td>
                                        <td class="font-weight-600"><a class="font-weight-600"
                                                href="{% url 'employeeDetail' employee.id %}">{{employee.fullname}}</a>
                                        </td>
                                        <td class="font-weight-600">{{employee.idnumber}}</td>
                                        <td class="font-weight-600">{{employee.telephone}}</td>
                                        <td class="font-weight-600">{{employee.department.name}}</td>
                                        <td class="font-weight-600">{{employee.email}}</td>
                                        <td class="font-weight-600">{{employee.gender}}</td>
                                        <td class="font-weight-600">{{employee.position}}</td>
                                        <td>
                                            <a href="{% url 'deleteEmployee' employee.id %}" class="btn btn-danger" type="button">Delete</a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}